
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Deluxe - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">

    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/css/aos.css">

    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>

<body>
   
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="index.html">Hotel Proctors</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Rooms", "Index", "Rooms", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Restaurant", "Restaurant", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Blog", "Blog", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>

        <div class="hero-wrap" style="background-image: url('/Content/images/bg_1.jpg');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
                    <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                        <div class="text">
                            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="@Url.Action("Index", "Rooms")">Rooms</a></span><span class="mr-2"><a href="">@ViewBag.Title</a></span></p>
                            <h1 class="mb-4 bread">@ViewBag.Title Room</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="myform form ">
                    <form action="" method="post" name="login">
                        @RenderBody()
                       
                    </form>
                </div>
            </div>
        </div>
       


        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>



        <script src="~/Content/js/jquery.min.js"></script>
        <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="~/Content/js/popper.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/jquery.easing.1.3.js"></script>
        <script src="~/Content/js/jquery.waypoints.min.js"></script>
        <script src="~/Content/js/jquery.stellar.min.js"></script>
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
        <script src="~/Content/js/aos.js"></script>
        <script src="~/Content/js/jquery.animateNumber.min.js"></script>
        <script src="~/Content/js/bootstrap-datepicker.js"></script>
        <script src="~/Content/js/jquery.timepicker.min.js"></script>
        <script src="~/Content/js/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="~/Content/js/google-map.js"></script>
        <script src="~/Content/js/main.js"></script>
        @Scripts.Render("~/bundles/jquery")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/dashboard")
        @RenderSection("scripts", required: false)
        
        @Scripts.Render("~/bundles/jqueryval")

        
    
</body>
</html>

