@model HotelProctors.Models.Reservation

@{
    ViewBag.Title = "Check out";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div class="text-center">
    <div class="col-md-4 mx-auto">
        <h4>Reservation</h4>
        <hr />  
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.Firstname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.Firstname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.Lastname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.Lastname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Room.RoomType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Room.EnumStringRoomType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ArrivalDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepartureDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TotalCost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalCost)
            </dd>



        </dl>
        <div class="text-center">
            <div class="col-md-7 mx-auto">
                @Html.ActionLink("Checkout", "PaymentWithPaypal", "Reservations", null, new { @class = "btn btn-block btn-outline-dark tx-tfm", style = "margin: 5px" })
            </div>
        </div>
        <div class="text-center">
            <div class="col-md-7 mx-auto">
                @Html.ActionLink("Back to List", "Create", new { id = Model.RoomId }, new { @class = "btn btn-block btn-outline-dark tx-tfm", style = "margin: 5px" })
            </div>
        </div>
        
    </div>

</div>





   
